In [31]:
import pandas as pd
import os

df = pd.read_csv('automobile/imports-85.data', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [32]:
column_name = [
    'symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
    'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
    'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
    'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
    'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg',
    'price'
]

df.columns = column_name

df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [33]:
drive_wheels_count = df['drive-wheels'].value_counts().to_frame()
drive_wheels_count
drive_wheels_count.rename(columns={'drive-wheels': "count"}, inplace=True)
drive_wheels_count

              count
drive-wheels
fwd             120
rwd              76
4wd               9

In [34]:
import seaborn as sns

set(df['price'])

{'10198',
 '10245',
 '10295',
 '10345',
 '10595',
 '10698',
 '10795',
 '10898',
 '10945',
 '11048',
 '11199',
 '11245',
 '11248',
 '11259',
 '11549',
 '11595',
 '11694',
 '11845',
 '11850',
 '11900',
 '12170',
 '12290',
 '12440',
 '12629',
 '12764',
 '12940',
 '12945',
 '12964',
 '13200',
 '13295',
 '13415',
 '13495',
 '13499',
 '13645',
 '13845',
 '13860',
 '13950',
 '14399',
 '14489',
 '14869',
 '15040',
 '15250',
 '15510',
 '15580',
 '15645',
 '15690',
 '15750',
 '15985',
 '15998',
 '16430',
 '16500',
 '16503',
 '16515',
 '16558',
 '16630',
 '16695',
 '16845',
 '16900',
 '16925',
 '17075',
 '17199',
 '17450',
 '17669',
 '17710',
 '17950',
 '18150',
 '18280',
 '18344',
 '18399',
 '18420',
 '18620',
 '18920',
 '18950',
 '19045',
 '19699',
 '20970',
 '21105',
 '21485',
 '22018',
 '22470',
 '22625',
 '23875',
 '24565',
 '25552',
 '28176',
 '28248',
 '30760',
 '31600',
 '32250',
 '32528',
 '34028',
 '34184',
 '35056',
 '35550',
 '36000',
 '36880',
 '37028',
 '40960',
 '41315',
 '45400',
 '5118',
 '5151',
 '5195',
 '5348',
 '5389',
 '5399',
 '5499',
 '5572',
 '6095',
 '6189',
 '6229',
 '6295',
 '6338',
 '6377',
 '6479',
 '6488',
 '6529',
 '6575',
 '6649',
 '6669',
 '6692',
 '6695',
 '6785',
 '6795',
 '6849',
 '6855',
 '6918',
 '6938',
 '6989',
 '7053',
 '7099',
 '7126',
 '7129',
 '7198',
 '7295',
 '7299',
 '7349',
 '7395',
 '7463',
 '7499',
 '7603',
 '7609',
 '7689',
 '7738',
 '7775',
 '7788',
 '7799',
 '7895',
 '7898',
 '7957',
 '7975',
 '7995',
 '7999',
 '8013',
 '8058',
 '8189',
 '8195',
 '8238',
 '8249',
 '8358',
 '8449',
 '8495',
 '8499',
 '8558',
 '8778',
 '8845',
 '8921',
 '8948',
 '8949',
 '9095',
 '9233',
 '9258',
 '9279',
 '9295',
 '9298',
 '9495',
 '9538',
 '9549',
 '9639',
 '9895',
 '9959',
 '9960',
 '9980',
 '9988',
 '9989',
 '9995',
 '?'}

In [36]:
mean = df[df['price'] != "?"]['price'].astype('int64').mean()
df[df['price'] == '?'] = mean
set(df['price'])

{'10198',
 '10245',
 '10295',
 '10345',
 '10595',
 '10698',
 '10795',
 '10898',
 '10945',
 '11048',
 '11199',
 '11245',
 '11248',
 '11259',
 '11549',
 '11595',
 '11694',
 '11845',
 '11850',
 '11900',
 '12170',
 '12290',
 '12440',
 '12629',
 '12764',
 '12940',
 '12945',
 '12964',
 '13200',
 13207.129353233831,
 '13295',
 '13415',
 '13495',
 '13499',
 '13645',
 '13845',
 '13860',
 '13950',
 '14399',
 '14489',
 '14869',
 '15040',
 '15250',
 '15510',
 '15580',
 '15645',
 '15690',
 '15750',
 '15985',
 '15998',
 '16430',
 '16500',
 '16503',
 '16515',
 '16558',
 '16630',
 '16695',
 '16845',
 '16900',
 '16925',
 '17075',
 '17199',
 '17450',
 '17669',
 '17710',
 '17950',
 '18150',
 '18280',
 '18344',
 '18399',
 '18420',
 '18620',
 '18920',
 '18950',
 '19045',
 '19699',
 '20970',
 '21105',
 '21485',
 '22018',
 '22470',
 '22625',
 '23875',
 '24565',
 '25552',
 '28176',
 '28248',
 '30760',
 '31600',
 '32250',
 '32528',
 '34028',
 '34184',
 '35056',
 '35550',
 '36000',
 '36880',
 '37028',
 '40960',
 '41315',
 '45400',
 '5118',
 '5151',
 '5195',
 '5348',
 '5389',
 '5399',
 '5499',
 '5572',
 '6095',
 '6189',
 '6229',
 '6295',
 '6338',
 '6377',
 '6479',
 '6488',
 '6529',
 '6575',
 '6649',
 '6669',
 '6692',
 '6695',
 '6785',
 '6795',
 '6849',
 '6855',
 '6918',
 '6938',
 '6989',
 '7053',
 '7099',
 '7126',
 '7129',
 '7198',
 '7295',
 '7299',
 '7349',
 '7395',
 '7463',
 '7499',
 '7603',
 '7609',
 '7689',
 '7738',
 '7775',
 '7788',
 '7799',
 '7895',
 '7898',
 '7957',
 '7975',
 '7995',
 '7999',
 '8013',
 '8058',
 '8189',
 '8195',
 '8238',
 '8249',
 '8358',
 '8449',
 '8495',
 '8499',
 '8558',
 '8778',
 '8845',
 '8921',
 '8948',
 '8949',
 '9095',
 '9233',
 '9258',
 '9279',
 '9295',
 '9298',
 '9495',
 '9538',
 '9549',
 '9639',
 '9895',
 '9959',
 '9960',
 '9980',
 '9988',
 '9989',
 '9995'}

In [42]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [43]:
df[['price', 'engine-type']]

     price engine-type
0    13495        dohc
1    16500        dohc
2    16500        ohcv
3    13950         ohc
4    17450         ohc
..     ...         ...
200  16845         ohc
201  19045         ohc
202  21485        ohcv
203  22470         ohc
204  22625         ohc

[205 rows x 2 columns]

In [39]:
import matplotlib as plt

x = df['price']
y = df['']
plt.Scalar(x,y)

AttributeError: module 'matplotlib' has no attribute 'Scalar'